.hi {
  max-width: 8em;
}

.mans {
  width: 100%;
  background-color: white;
}

.tech {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.angular {
  grid-column: 1 / span 2;
}

.logo {
  width: 50%;
  height: auto;
}
